The objective of this lesson will be to review Lists (starting by covering the pre-work) and then deep diving into more complex uses of lists such as list comprehensions

For a good overview of lists and other data structures, check out the following reference: https://docs.python.org/3/tutorial/datastructures.html

In [ ]:
# Let's break down the starter
# a common way to create lists based on other lists is via the "append" function, that adds an element to the end of the list

original_list = [2,4,6,8]
my_list = []

for element in original_list:
  my_list.append(element*element)

print(my_list)

[4, 16, 36, 64]

In [ ]:
# or

res = 0
for el in original_list:
  res += (el**2)
res

120

In [ ]:
# second

original_list = [2, 10, -1, 6 , 8]

max_val = original_list[0]

for val in original_list:
  if val >= max_val:
    max_val = val
  
max_val

10

In [ ]:
# append vs index setting


# append will add the object to the end of the list --> item (object) added to the end of the list 
my_list_2 = ["Jason","Billy", "Kimberley","Zack","Trini"]
#my_list_2.append("Tommy")

my_list_2

# how does append compare to:

# indexing and re assign the variable will change the object in that position

# my_list_2[-1] = "Tommy"

# my_list_2

['Jason', 'Billy', 'Kimberley', 'Zack', 'Trini']

In [ ]:
# just like for strings, the + operator means "concatenate" -- > put together

my_list + my_list_2

# what happens if I multiply a list by 2?
#maybe not intuitive
#my_list*2

[4, 16, 36, 64, 4, 16, 36, 64]

In [ ]:
# some other common list operations

my_list = [1,2,3,4,5,6,1,1,2]

my_list.count(1) # this method takes a single argument (what is inside parenthesis) and this argument is the element to be counted

##NT: What's an argument/parameter --> information that are passed into a function/ method ##

#my_list.pop() # pop is a rare "inplace" method --> pop() method takes a single argument, the index of one object, and removes it. By default it takes the last
#my_lis

##NT: Inplace method --> will return nothing and the object is updated

#my_list.clear()
#my_list

my_list_2 = ["Jason","Billy", "Kimberley","Zack","Trini"]

#my_list_2.index("Kimberley")

#my_list_2.insert(2,"Tommy") #another inplace method
#my_list_2

#my_list_2.remove("Jason") # yet another inplace method --> remove() method takes a single element as an argument and removes it from the list.
#my_list_2

In [ ]:
# deep dive on pop
my_list = [1,2,3,4,5,6,1,1,2]
a = my_list.pop()
print(a)
print(my_list)

my_list.pop(5)
print(my_list)

2
[1, 2, 3, 4, 5, 6, 1, 1]
[1, 2, 3, 4, 5, 1, 1]

In [ ]:
# deep dive on remove

my_list = [1,2,3,4,5,6,1,1,2]
my_list.remove(6)
print(my_list)

my_list.remove(1)
print(my_list)

[1, 2, 3, 4, 5, 1, 1, 2]
[2, 3, 4, 5, 1, 1, 2]

In [ ]:
# deep dive on index
my_list = [1,2,3,4,5,6,1,1,2]
my_list.index(2)

1

In [ ]:
#mini challenge: how can I iterate over the list and keep only the numeric values?

# tip1: loop
# tip2: conditional statements and type() method
# tip3: type(method)

new_list = [1,2,3.0,"four","five","six",7]

for element in new_list:
  if type(element) is str:
    new_list.pop(new_list.index(element))
  else:
    continue

new_list

[1, 2, 3.0, 'five', 7]

In [ ]:
# solution and warning: in-place operations are dangerous in loops

new_list = [1,2,3,"four","five","six",7]
num_list = []

for element in new_list:
  if type(element) != str:
    num_list.append(element)
  else:
    continue

num_list

[1, 2, 3, 7]

In [ ]:
# lists of lists or nested lists
my_list = [[0,1,2],[3,4,5],[6,7,8]]

for element in my_list:
  print(element)

[0, 1, 2]
[3, 4, 5]
[6, 7, 8]

In [ ]:
# nested loops
for sublist in my_list:
  for element in sublist:
    print(element)

0
1
2
3
4
5
6
7
8

In [ ]:
# ranges are a specific type of object that is an iterable.
# we can turn it into a list (this operation is known as "casting")
range(0,4)
#list(range(0,4))

range(0, 4)

In [ ]:
#list comprehension is a more compact (and efficient) way to create lists and apply operations at the same time
new_list = []

for i in range(0,10):
  new_list.append(i**2)

new_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# versus
comprehension = [i**2 for i in range(0,10)]
comprehension

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# notation is:
# [result for iterator in iterable]

[i for i in range(-10,10)]

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# you can apply any function you want to "result"
[abs(i) for i in range(-10,10)]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# say I only want the odd numbers

[i if i%2 != 0 else -1 for i in range(0,10)]

[-1, 1, -1, 3, -1, 5, -1, 7, -1, 9]

In [ ]:
# not exactly there. We have another construct for this

[i for i in range(0,10) if i%2 == 0]

# these represent two different usecases
# NTS: go with the mathematical notation stuff if the cohort seems to like it


# first use case: the if and else are in the begining the action will work on all the list.
# second use case: the if is in the end it will filter the list

[0, 2, 4, 6, 8]

In [ ]:
# revisit the challenge
new_list = [1,2,3,"four","five","six",7]

# NOTE! we want to filter (making the list smaller)

num_list = [element for element in new_list if type(element) != str]
num_list

[1, 2, 3, 7]

In [ ]:
# terseness of comprehensions versus loops ## skip this ##

In [ ]:
temperatures_faren = [78, 98, 90, 67, 78, 87, 95, 184]
# I want the message "too hot" when the celsius value is more than 40 and "not too hot" otherwise, for all faren temps over 70 (filter)
# celsius = (far-32)/1.8

["too hot" if (x-32)/1.8 >40  else "not too hot" for x in temperatures_faren if x > 70]

['not too hot',
 'not too hot',
 'not too hot',
 'not too hot',
 'not too hot',
 'not too hot',
 'too hot']

In [ ]:
temperatures_faren = [78, 98, 90, 67, 78, 87, 95, 184]
new_lst = []
for temp in temperatures_faren:
  if temp > 70:
    if (temp-32)/1.8 >40:
      new_lst.append("too hot")
    elif (temp-32)/1.8 <=40:
      new_lst.append("not too hot")
    else: # else statemnt to cover all other possible options that the if - elif statement didn't cover
      print("something is deeply wrong")

new_lst

['not too hot',
 'not too hot',
 'not too hot',
 'not too hot',
 'not too hot',
 'not too hot',
 'too hot']

In [ ]:
# !advanced 
# nested lists with list comprehensions
# nested list comprehansions are created "outside in"

matrix = [j for j in range(5) for i in range(5)] # --> the result is j. j starts at zero then it will keep zero until the i cicle ends. Then j is 1 and the cicle i will repeat


# first value of i, first value of j -> second value of i, first value of j -> thrid value of i, first value of j... 
#matrix = [j for i in range(5) for j in range(5)] 
# first value of j, first value of i -> second value of j, first value of i -> thrid value of j, first value of i...
#matrix = [[j for j in range(10)] for i in range(5)]
matrix = [[j*i for j in range(10)] for i in range(5)]

matrix

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 2, 4, 6, 8, 10, 12, 14, 16, 18],
 [0, 3, 6, 9, 12, 15, 18, 21, 24, 27],
 [0, 4, 8, 12, 16, 20, 24, 28, 32, 36]]

In [ ]:
# therefore lists of lists in comprehensions are also read "outside in"
# [result for "outer loop" for "inner loop"]

my_matrix = [[0,1,2],[3,4,5],[6,7,8]]

[val for row in my_matrix for val in row]

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#Challenge: suppose I want to flatten a given 2-D list and only include those strings whose lengths are less than 6

planets = [["Mercury", "Venus", "Earth"], ["Mars", "Jupiter"], ["Uranus", "Neptune", "Pluto"]]

[planet for group in planets for planet in group if len(planet) <6]

['Venus', 'Earth', 'Mars', 'Pluto']

In [ ]:
#you can place conditions at any level

planets = [["Mercury", "Venus", "Earth"], ["Mars", "Jupiter"], ["Uranus", "Neptune", "Pluto"]]

[planet for group in planets for planet in group if len(group) == 2 and len(planet) ==4]

['Mars']

List Comprehensions vs Append method in lists



*   Clearly there are Pros & Cons
*   An explicit loop with an append method is more explicit and therefore possibly easier to read
* List comprehensions are far more performant for two reasons:
  * no need to load the append method so many times
  * Python has optimized things to create the list in C
* increase in performance can be of about 50%

* List comprehensions are more "elegant" from a coding point of view
* but sometimes if they become too long and hard to understand, you lose the advantages you had