# List Comprehensions Lab

Complete the following set of exercises to solidify your knowledge of list comprehensions.

In [1]:
import os
import numpy as np
import pandas as pd

### 1. Use a list comprehension to create and print a list of consecutive integers starting with 1 and ending with 50.

In [2]:
x = [i for i in range(1, 51)]

### 2. Use a list comprehension to create and print a list of even numbers starting with 2 and ending with 200.

In [3]:
y = [i for i in range(2, 201, 2)]
print(y)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

### 3. Use a list comprehension to create and print a list containing all elements of the 10 x 4 Numpy array below.

In [4]:
a = np.array([[0.84062117, 0.48006452, 0.7876326 , 0.77109654],
       [0.44409793, 0.09014516, 0.81835917, 0.87645456],
       [0.7066597 , 0.09610873, 0.41247947, 0.57433389],
       [0.29960807, 0.42315023, 0.34452557, 0.4751035 ],
       [0.17003563, 0.46843998, 0.92796258, 0.69814654],
       [0.41290051, 0.19561071, 0.16284783, 0.97016248],
       [0.71725408, 0.87702738, 0.31244595, 0.76615487],
       [0.20754036, 0.57871812, 0.07214068, 0.40356048],
       [0.12149553, 0.53222417, 0.9976855 , 0.12536346],
       [0.80930099, 0.50962849, 0.94555126, 0.33364763]])

cmp = [v for p in a for v in p]
print(cmp)

[0.84062117, 0.48006452, 0.7876326, 0.77109654, 0.44409793, 0.09014516, 0.81835917, 0.87645456, 0.7066597, 0.09610873, 0.41247947, 0.57433389, 0.29960807, 0.42315023, 0.34452557, 0.4751035, 0.17003563, 0.46843998, 0.92796258, 0.69814654, 0.41290051, 0.19561071, 0.16284783, 0.97016248, 0.71725408, 0.87702738, 0.31244595, 0.76615487, 0.20754036, 0.57871812, 0.07214068, 0.40356048, 0.12149553, 0.53222417, 0.9976855, 0.12536346, 0.80930099, 0.50962849, 0.94555126, 0.33364763]

### 4. Add a condition to the list comprehension above so that only values greater than or equal to 0.5 are printed.

In [5]:
print([i for i in cmp if i >= .5])

[0.84062117, 0.7876326, 0.77109654, 0.81835917, 0.87645456, 0.7066597, 0.57433389, 0.92796258, 0.69814654, 0.97016248, 0.71725408, 0.87702738, 0.76615487, 0.57871812, 0.53222417, 0.9976855, 0.80930099, 0.50962849, 0.94555126]

### 5. Use a list comprehension to create and print a list containing all elements of the 5 x 2 x 3 Numpy array below.

In [6]:
b = np.array([[[0.55867166, 0.06210792, 0.08147297],
        [0.82579068, 0.91512478, 0.06833034]],

       [[0.05440634, 0.65857693, 0.30296619],
        [0.06769833, 0.96031863, 0.51293743]],

       [[0.09143215, 0.71893382, 0.45850679],
        [0.58256464, 0.59005654, 0.56266457]],

       [[0.71600294, 0.87392666, 0.11434044],
        [0.8694668 , 0.65669313, 0.10708681]],

       [[0.07529684, 0.46470767, 0.47984544],
        [0.65368638, 0.14901286, 0.23760688]]])

In [7]:
cmp = [v for mid in b for small in mid for v in small]
print(cmp)

[0.55867166, 0.06210792, 0.08147297, 0.82579068, 0.91512478, 0.06833034, 0.05440634, 0.65857693, 0.30296619, 0.06769833, 0.96031863, 0.51293743, 0.09143215, 0.71893382, 0.45850679, 0.58256464, 0.59005654, 0.56266457, 0.71600294, 0.87392666, 0.11434044, 0.8694668, 0.65669313, 0.10708681, 0.07529684, 0.46470767, 0.47984544, 0.65368638, 0.14901286, 0.23760688]

### 6. Add a condition to the list comprehension above so that the last value in each subarray is printed, but only if it is less than or equal to 0.5.

In [8]:
print([v for i, v in enumerate(cmp) if v <= .5 and (i+1)%6==0])

[0.06833034, 0.10708681, 0.23760688]

### 7. Use a list comprehension to select and print the names of all CSV files in the */data* directory.

In [9]:
from os import listdir

from os.path import isfile, join

mypath = "/home/sin/Gits/ironhackLabs/lab-list-comprehensions/data/"

onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]

print([v for v in onlyfiles if v.endswith(".csv")])

['sample_file_9.csv', 'sample_file_0.csv', 'sample_file_8.csv', 'sample_file_4.csv', 'sample_file_5.csv', 'sample_file_3.csv', 'sample_file_1.csv', 'sample_file_2.csv', 'sample_file_7.csv', 'sample_file_6.csv']

### 8. Use a list comprehension and the Pandas `read_csv` and `concat` methods to read all CSV files in the */data* directory and combine them into a single data frame. Display the top 10 rows of the resulting data frame.

In [10]:
import glob

filenames = glob.glob(mypath + "/*.csv")

df = pd.concat([pd.read_csv(sf) for sf in filenames])

print (df.head(10))

          0         1         2         3         4         5         6  \
0  0.215190  0.155352  0.160848  0.807736  0.363587  0.899832  0.146754
1  0.895544  0.955196  0.089925  0.827555  0.089071  0.642883  0.996052
2  0.413752  0.693052  0.789796  0.929164  0.536191  0.439769  0.773474
3  0.728001  0.348156  0.935787  0.851163  0.444573  0.715080  0.988408
4  0.134942  0.875931  0.273505  0.207588  0.080696  0.717396  0.033930
0  0.734751  0.195362  0.734309  0.598184  0.763433  0.263434  0.868066
1  0.772607  0.445391  0.249642  0.787922  0.598583  0.827238  0.624126
2  0.226428  0.268764  0.694262  0.622335  0.063843  0.122683  0.815625
3  0.362748  0.495430  0.113876  0.594149  0.612522  0.625204  0.864050
4  0.033415  0.340433  0.464971  0.363737  0.025815  0.434129  0.415163

          7         8         9        10        11        12        13  \
0  0.094802  0.705133  0.882762  0.773320  0.687745  0.016789  0.340725
1  0.879020  0.421837  0.412141  0.858513  0.217091  0.176157  0.551236
2  0.982074  0.876955  0.633154  0.279005  0.483317  0.908288  0.756172
3  0.210332  0.732133  0.892383  0.216893  0.367595  0.846208  0.240111
4  0.646837  0.888722  0.922742  0.176593  0.861333  0.389451  0.695244
0  0.058092  0.753502  0.587513  0.311608  0.178356  0.182922  0.147631
1  0.601524  0.688753  0.338870  0.081595  0.471474  0.267443  0.453351
2  0.584542  0.032594  0.589775  0.764350  0.650973  0.565705  0.691784
3  0.260279  0.528873  0.168043  0.715929  0.677014  0.175735  0.632370
4  0.892210  0.381701  0.415264  0.790801  0.696930  0.819751  0.944029

         14        15        16        17        18        19
0  0.984182  0.985461  0.412044  0.867894  0.113432  0.349845
1  0.834378  0.419535  0.041431  0.602258  0.984628  0.516899
2  0.462130  0.289892  0.145233  0.076819  0.797836  0.197592
3  0.471880  0.399721  0.758196  0.665568  0.931542  0.448124
4  0.129955  0.364114  0.428224  0.365442  0.847818  0.588319
0  0.391188  0.816049  0.749068  0.293260  0.937828  0.880858
1  0.800716  0.045749  0.683793  0.389789  0.016787  0.503695
2  0.265223  0.739031  0.560394  0.334802  0.517694  0.646110
3  0.926715  0.085675  0.120525  0.141746  0.771144  0.489660
4  0.869965  0.041723  0.819140  0.676051  0.109349  0.872947

### 9. Use a list comprehension to select and print the column numbers for columns from the data set whose median is less than 0.48.

In [11]:
restrict_df = [df[c] for c in df if df[c].median() < 0.48]
print(restrict_df)

[0    0.160848
1    0.089925
2    0.789796
3    0.935787
4    0.273505
0    0.734309
1    0.249642
2    0.694262
3    0.113876
4    0.464971
0    0.673568
1    0.850528
2    0.807189
3    0.407187
4    0.392800
0    0.596603
1    0.708804
2    0.567476
3    0.121713
4    0.553956
0    0.183148
1    0.802663
2    0.120652
3    0.476889
4    0.055405
0    0.500995
1    0.152394
2    0.179986
3    0.681403
4    0.029834
0    0.942397
1    0.244274
2    0.392437
3    0.148175
4    0.365979
0    0.918270
1    0.916655
2    0.954057
3    0.475459
4    0.336707
0    0.735894
1    0.797730
2    0.892328
3    0.959355
4    0.736542
0    0.245083
1    0.467321
2    0.005691
3    0.833368
4    0.184239
Name: 2, dtype: float64, 0    0.882762
1    0.412141
2    0.633154
3    0.892383
4    0.922742
0    0.587513
1    0.338870
2    0.589775
3    0.168043
4    0.415264
0    0.111557
1    0.892183
2    0.184300
3    0.684265
4    0.634608
0    0.717817
1    0.737445
2    0.418311
3    0.360098
4    0.197302
0    0.080025
1    0.156926
2    0.048815
3    0.349850
4    0.449771
0    0.037230
1    0.543442
2    0.181267
3    0.513575
4    0.956949
0    0.162984
1    0.580840
2    0.462513
3    0.763502
4    0.233944
0    0.591727
1    0.586035
2    0.867511
3    0.410444
4    0.194299
0    0.895810
1    0.674311
2    0.131970
3    0.105477
4    0.390542
0    0.783107
1    0.048724
2    0.847337
3    0.547769
4    0.212762
Name: 9, dtype: float64, 0    0.016789
1    0.176157
2    0.908288
3    0.846208
4    0.389451
0    0.182922
1    0.267443
2    0.565705
3    0.175735
4    0.819751
0    0.446974
1    0.429496
2    0.573440
3    0.756593
4    0.682941
0    0.394465
1    0.073603
2    0.234886
3    0.847880
4    0.473574
0    0.543498
1    0.940414
2    0.090451
3    0.841210
4    0.158077
0    0.153783
1    0.580359
2    0.070744
3    0.082292
4    0.454788
0    0.593212
1    0.674085
2    0.032847
3    0.409665
4    0.208551
0    0.177649
1    0.915342
2    0.552062
3    0.856437
4    0.531840
0    0.617711
1    0.015081
2    0.034188
3    0.400774
4    0.366139
0    0.207432
1    0.721515
2    0.898464
3    0.931623
4    0.634487
Name: 12, dtype: float64, 0    0.984182
1    0.834378
2    0.462130
3    0.471880
4    0.129955
0    0.391188
1    0.800716
2    0.265223
3    0.926715
4    0.869965
0    0.713369
1    0.283769
2    0.032852
3    0.551369
4    0.450950
0    0.084206
1    0.798467
2    0.421263
3    0.490628
4    0.413186
0    0.960030
1    0.933377
2    0.192501
3    0.101031
4    0.730355
0    0.330318
1    0.931264
2    0.948127
3    0.088025
4    0.095214
0    0.257645
1    0.785803
2    0.816563
3    0.133256
4    0.588567
0    0.202404
1    0.489504
2    0.739656
3    0.326310
4    0.084884
0    0.336094
1    0.132391
2    0.098536
3    0.844655
4    0.175482
0    0.349212
1    0.338366
2    0.443979
3    0.821099
4    0.394633
Name: 14, dtype: float64, 0    0.867894
1    0.602258
2    0.076819
3    0.665568
4    0.365442
0    0.293260
1    0.389789
2    0.334802
3    0.141746
4    0.676051
0    0.982256
1    0.688337
2    0.719610
3    0.792803
4    0.221165
0    0.267455
1    0.631497
2    0.726412
3    0.567280
4    0.351496
0    0.660811
1    0.407580
2    0.858956
3    0.149982
4    0.078734
0    0.033474
1    0.509798
2    0.074394
3    0.515933
4    0.513342
0    0.069162
1    0.232135
2    0.430411
3    0.402791
4    0.229109
0    0.159040
1    0.358977
2    0.602166
3    0.361873
4    0.437889
0    0.856135
1    0.752866
2    0.655947
3    0.807400
4    0.904593
0    0.886644
1    0.773155
2    0.302786
3    0.183948
4    0.538712
Name: 17, dtype: float64]

### 10. Use a list comprehension to add a new column (20) to the data frame whose values are the values in column 19 minus 0.1. Display the top 10 rows of the resulting data frame.

In [21]:
df2 = df.assign( column20 = [x-0.1 for x in df["19"]])
print(df2.head(10))

          0         1         2         3         4         5         6  \
0  0.215190  0.155352  0.160848  0.807736  0.363587  0.899832  0.146754
1  0.895544  0.955196  0.089925  0.827555  0.089071  0.642883  0.996052
2  0.413752  0.693052  0.789796  0.929164  0.536191  0.439769  0.773474
3  0.728001  0.348156  0.935787  0.851163  0.444573  0.715080  0.988408
4  0.134942  0.875931  0.273505  0.207588  0.080696  0.717396  0.033930
0  0.734751  0.195362  0.734309  0.598184  0.763433  0.263434  0.868066
1  0.772607  0.445391  0.249642  0.787922  0.598583  0.827238  0.624126
2  0.226428  0.268764  0.694262  0.622335  0.063843  0.122683  0.815625
3  0.362748  0.495430  0.113876  0.594149  0.612522  0.625204  0.864050
4  0.033415  0.340433  0.464971  0.363737  0.025815  0.434129  0.415163

          7         8         9  ...        11        12        13        14  \
0  0.094802  0.705133  0.882762  ...  0.687745  0.016789  0.340725  0.984182
1  0.879020  0.421837  0.412141  ...  0.217091  0.176157  0.551236  0.834378
2  0.982074  0.876955  0.633154  ...  0.483317  0.908288  0.756172  0.462130
3  0.210332  0.732133  0.892383  ...  0.367595  0.846208  0.240111  0.471880
4  0.646837  0.888722  0.922742  ...  0.861333  0.389451  0.695244  0.129955
0  0.058092  0.753502  0.587513  ...  0.178356  0.182922  0.147631  0.391188
1  0.601524  0.688753  0.338870  ...  0.471474  0.267443  0.453351  0.800716
2  0.584542  0.032594  0.589775  ...  0.650973  0.565705  0.691784  0.265223
3  0.260279  0.528873  0.168043  ...  0.677014  0.175735  0.632370  0.926715
4  0.892210  0.381701  0.415264  ...  0.696930  0.819751  0.944029  0.869965

         15        16        17        18        19  column20
0  0.985461  0.412044  0.867894  0.113432  0.349845  0.249845
1  0.419535  0.041431  0.602258  0.984628  0.516899  0.416899
2  0.289892  0.145233  0.076819  0.797836  0.197592  0.097592
3  0.399721  0.758196  0.665568  0.931542  0.448124  0.348124
4  0.364114  0.428224  0.365442  0.847818  0.588319  0.488319
0  0.816049  0.749068  0.293260  0.937828  0.880858  0.780858
1  0.045749  0.683793  0.389789  0.016787  0.503695  0.403695
2  0.739031  0.560394  0.334802  0.517694  0.646110  0.546110
3  0.085675  0.120525  0.141746  0.771144  0.489660  0.389660
4  0.041723  0.819140  0.676051  0.109349  0.872947  0.772947

[10 rows x 21 columns]

### 11. Use a list comprehension to extract and print all values from the data set that are between 0.7 and 0.75.

In [39]:
print([val for columname in df for val in df[columname] if float(val) > 0.7 and float(val) < 0.75])

[0.7280006345208285, 0.7347510852128797, 0.7132714209987683, 0.7025657075988269, 0.736029494090402, 0.7472962776291713, 0.7258310816144985, 0.7343092314001137, 0.7088042362916818, 0.7358941798147411, 0.7365416322783028, 0.7023481768180954, 0.7329024831531535, 0.7133695725698419, 0.7476323136755818, 0.7008930873050235, 0.7150799992177622, 0.7173964318670598, 0.7032248108904495, 0.7268545088531969, 0.7357618655811269, 0.7013619954419494, 0.7383982036983279, 0.7306642125209889, 0.7124169515124726, 0.71223975981198, 0.7298115760258881, 0.7051334608870933, 0.7321333453970806, 0.7178166705957928, 0.7374449181749492, 0.7159290265157912, 0.7294980584878026, 0.7215147068185102, 0.7111584953876777, 0.7209375615129192, 0.7045750112959754, 0.7133690799930356, 0.7303553716733908, 0.7396561066717461, 0.7390312927111312, 0.7078738356977186, 0.7321533684342264, 0.7356923324968598, 0.7490680818183477, 0.7085098152301276, 0.7130781095091867, 0.7196096371031628, 0.7264121114538001, 0.7244863338885654, 0.7393833032570581]