# List Comprehensions Lab

Complete the following set of exercises to solidify your knowledge of list comprehensions.

In [122]:
import os
import numpy as np
import pandas as pd

### 1. Use a list comprehension to create and print a list of consecutive integers starting with 1 and ending with 50.

In [123]:
#A list comprehension has a for loop between [], inside a list. 

my_list = [i for i in range(1,51)]

#my list is the variable, and the value assigned is [i for i in range(1,51)]

print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

### 2. Use a list comprehension to create and print a list of even numbers starting with 2 and ending with 200.

In [124]:
#Option 1: 
my_list_2 = [i for i in range(2,201) if i%2 ==0]
print(my_list_2)


print('-------')


#Option 2: range (start, stop[, step]), where start defaults to 0 and step, as an optional arguement, defaults to 1 
my_list_3 = [i for i in range(2, 201, 2)]
print(my_list_3)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]
-------
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

### 3. Use a list comprehension to create and print a list containing all elements of the 10 x 4 Numpy array below.

In [125]:
a = np.array([[0.84062117, 0.48006452, 0.7876326 , 0.77109654],
       [0.44409793, 0.09014516, 0.81835917, 0.87645456],
       [0.7066597 , 0.09610873, 0.41247947, 0.57433389],
       [0.29960807, 0.42315023, 0.34452557, 0.4751035 ],
       [0.17003563, 0.46843998, 0.92796258, 0.69814654],
       [0.41290051, 0.19561071, 0.16284783, 0.97016248],
       [0.71725408, 0.87702738, 0.31244595, 0.76615487],
       [0.20754036, 0.57871812, 0.07214068, 0.40356048],
       [0.12149553, 0.53222417, 0.9976855 , 0.12536346],
       [0.80930099, 0.50962849, 0.94555126, 0.33364763]])

In [126]:
# a[row, column]
#We want to print every element in this matrix, and in order to get the value of each element, we need the row index
#and the column index of each element

#for row in range(0,10):
    #for column in range(0,4):
        #print(row, column, a[row, column])


print(a.shape)

print(type(a.shape))

print('-----')

#We want now to build a list comprehension

my_list_a = [a[row, column] for row in range(a.shape[0]) for column in range (a.shape[1])]
print(my_list_a)

(10, 4)
<class 'tuple'>
-----
[0.84062117, 0.48006452, 0.7876326, 0.77109654, 0.44409793, 0.09014516, 0.81835917, 0.87645456, 0.7066597, 0.09610873, 0.41247947, 0.57433389, 0.29960807, 0.42315023, 0.34452557, 0.4751035, 0.17003563, 0.46843998, 0.92796258, 0.69814654, 0.41290051, 0.19561071, 0.16284783, 0.97016248, 0.71725408, 0.87702738, 0.31244595, 0.76615487, 0.20754036, 0.57871812, 0.07214068, 0.40356048, 0.12149553, 0.53222417, 0.9976855, 0.12536346, 0.80930099, 0.50962849, 0.94555126, 0.33364763]

### 4. Add a condition to the list comprehension above so that only values greater than or equal to 0.5 are printed.

In [127]:
my_list_a = [a[row, column] for row in range(a.shape[0]) for column in range (a.shape[1]) if a[row, column]>= 0.5]

print(my_list_a)

[0.84062117, 0.7876326, 0.77109654, 0.81835917, 0.87645456, 0.7066597, 0.57433389, 0.92796258, 0.69814654, 0.97016248, 0.71725408, 0.87702738, 0.76615487, 0.57871812, 0.53222417, 0.9976855, 0.80930099, 0.50962849, 0.94555126]

### 5. Use a list comprehension to create and print a list containing all elements of the 5 x 2 x 3 Numpy array below.

In [128]:
b = np.array([[[0.55867166, 0.06210792, 0.08147297],
        [0.82579068, 0.91512478, 0.06833034]],

       [[0.05440634, 0.65857693, 0.30296619],
        [0.06769833, 0.96031863, 0.51293743]],

       [[0.09143215, 0.71893382, 0.45850679],
        [0.58256464, 0.59005654, 0.56266457]],

       [[0.71600294, 0.87392666, 0.11434044],
        [0.8694668 , 0.65669313, 0.10708681]],

       [[0.07529684, 0.46470767, 0.47984544],
        [0.65368638, 0.14901286, 0.23760688]]])

In [129]:
print(b.shape)

print(type(b.shape))

my_list_b = [b[i,j,k] for i in range(b.shape[0]) for j in range (b.shape[1]) for k in range (b.shape[2])]
print(my_list_b)

(5, 2, 3)
<class 'tuple'>
[0.55867166, 0.06210792, 0.08147297, 0.82579068, 0.91512478, 0.06833034, 0.05440634, 0.65857693, 0.30296619, 0.06769833, 0.96031863, 0.51293743, 0.09143215, 0.71893382, 0.45850679, 0.58256464, 0.59005654, 0.56266457, 0.71600294, 0.87392666, 0.11434044, 0.8694668, 0.65669313, 0.10708681, 0.07529684, 0.46470767, 0.47984544, 0.65368638, 0.14901286, 0.23760688]

### 6. Add a condition to the list comprehension above so that the last value in each subarray is printed, but only if it is less than or equal to 0.5.

In [130]:
my_list_b = [b[i,j,k] for i in range(b.shape[0]) for j in range (b.shape[1]) for k in range (b.shape[2]) 
             if b[i, j, k] <= 0.5 and k == 2]

print(my_list_b)

[0.08147297, 0.06833034, 0.30296619, 0.45850679, 0.11434044, 0.10708681, 0.47984544, 0.23760688]

### 7. Use a list comprehension to select and print the names of all CSV files in the */data* directory.

In [131]:
#Relative path
all_files = os.listdir("../data")    
print(all_files)

print('-----')

#Absolute path
all_files = os.listdir("/Users/GiadaSartori/Documents/IRONHACK/Lab/Week 1/lab-list-comprehensions/data")
print(all_files)


#Build a list comprehension with only CSV files

print(type(all_files))


print('-----')

list_of_file_names = [i for i in all_files if i.endswith("csv")]
print(list_of_file_names)

['sample_file_8.txt', 'sample_file_9.txt', 'sample_file_1.csv', 'sample_file_0.csv', 'sample_file_2.csv', 'sample_file_3.csv', 'sample_file_7.csv', 'sample_file_6.csv', 'sample_file_4.csv', 'sample_file_5.csv', 'sample_file_8.csv', 'sample_file_9.csv', 'sample_file_2.txt', 'sample_file_3.txt', 'sample_file_1.txt', 'sample_file_0.txt', 'sample_file_4.txt', 'sample_file_5.txt', 'sample_file_7.txt', 'sample_file_6.txt']
-----
['sample_file_8.txt', 'sample_file_9.txt', 'sample_file_1.csv', 'sample_file_0.csv', 'sample_file_2.csv', 'sample_file_3.csv', 'sample_file_7.csv', 'sample_file_6.csv', 'sample_file_4.csv', 'sample_file_5.csv', 'sample_file_8.csv', 'sample_file_9.csv', 'sample_file_2.txt', 'sample_file_3.txt', 'sample_file_1.txt', 'sample_file_0.txt', 'sample_file_4.txt', 'sample_file_5.txt', 'sample_file_7.txt', 'sample_file_6.txt']
<class 'list'>
-----
['sample_file_1.csv', 'sample_file_0.csv', 'sample_file_2.csv', 'sample_file_3.csv', 'sample_file_7.csv', 'sample_file_6.csv', 'sample_file_4.csv', 'sample_file_5.csv', 'sample_file_8.csv', 'sample_file_9.csv']

### 8. Use a list comprehension and the Pandas `read_csv` and `concat` methods to read all CSV files in the */data* directory and combine them into a single data frame. Display the top 10 rows of the resulting data frame.

In [155]:
#1. We read the CSV files, using pd.read and the functon return a dataframe and then we assign the variable df_csv_1 et al. to a dataframe

#df_csv_1 = pd.read_csv ('/Users/GiadaSartori/Documents/IRONHACK/Lab/Week 1/lab-list-comprehensions/data/sample_file_1.csv')
#df_csv_1

#df_csv_2 = pd.read_csv ('/Users/GiadaSartori/Documents/IRONHACK/Lab/Week 1/lab-list-comprehensions/data/sample_file_2.csv')
#df_csv_2


#2. We want to concatenate n dataframes together, into one list (which is [df_csv_1, df_csv_2], by using the function pd.concat 
#See https://pandas.pydata.org/docs/reference/api/pandas.concat.html#pandas-concat 

#my_data_frame = pd.concat([df_csv_1, df_csv_2])

#print(my_data_frame)


#3. We want to create a list of dataframe, called list_of_df_csv, which contains a dataframe for each single csv file
##Steps:
##for file_name in list of file_names:
##-- file_path = create file path from file name, and concatenate all paths from file names by using +variable (which in our example is file_name)
##-- df = create dataframe from file path
##-- append dataframe to list of dataframs


#!!A variable must be not used, before it has not been defined. Hence, first define the variable file_path, then use it!!

#Option 1: with a for loop

list_of_df_csv = []

for file_name in list_of_file_names:
    file_path = '/Users/GiadaSartori/Documents/IRONHACK/Lab/Week 1/lab-list-comprehensions/data/'+file_name
    df = pd.read_csv(file_path)
    list_of_df_csv.append(df)

df = pd.concat(list_of_df_csv)

df[0:10]


print('------')


#Option 2>: with a list comprehensions

baseline_df = [pd.read_csv('/Users/GiadaSartori/Documents/IRONHACK/Lab/Week 1/lab-list-comprehensions/data/'+file_name) for file_name in list_of_file_names
                  ]
baseline_df



#We slice the original dataframe, baptised df, by showing the first top 10rows, which position is 0 to 9 - 
#since 10th position is not included

df= pd.concat(baseline_df)
df[0:10]


#We want to know the entire size of data frame, in order to do exercise 11

#df.shape -> (50,20), which means 50 rows and 20 columns

------

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.276827,0.260054,0.942397,0.113187,0.781355,0.475740,0.152061,0.250324,0.147078,0.162984,0.977025,0.509619,0.593212,0.911839,0.257645,0.386457,0.696932,0.069162,0.952291,0.286542
1,0.995885,0.158381,0.244274,0.962163,0.651900,0.930665,0.577190,0.087914,0.960261,0.580840,0.194616,0.661459,0.674085,0.049326,0.785803,0.315645,0.495355,0.232135,0.549324,0.572232
2,0.641917,0.821055,0.392437,0.782617,0.510762,0.428320,0.017324,0.680720,0.340412,0.462513,0.785776,0.251949,0.032847,0.995700,0.816563,0.735692,0.435998,0.430411,0.531757,0.489528
3,0.806532,0.569258,0.148175,0.809987,0.459632,0.735762,0.730664,0.934502,0.080322,0.763502,0.398504,0.027637,0.409665,0.942846,0.133256,0.157158,0.929446,0.402791,0.685976,0.246594
4,0.311185,0.501165,0.365979,0.782807,0.776795,0.797199,0.791946,0.847157,0.771811,0.233944,0.522344,0.053030,0.208551,0.824354,0.588567,0.604341,0.232964,0.229109,0.022881,0.479022
0,0.734751,0.195362,0.734309,0.598184,0.763433,0.263434,0.868066,0.058092,0.753502,0.587513,0.311608,0.178356,0.182922,0.147631,0.391188,0.816049,0.749068,0.293260,0.937828,0.880858
1,0.772607,0.445391,0.249642,0.787922,0.598583,0.827238,0.624126,0.601524,0.688753,0.338870,0.081595,0.471474,0.267443,0.453351,0.800716,0.045749,0.683793,0.389789,0.016787,0.503695
2,0.226428,0.268764,0.694262,0.622335,0.063843,0.122683,0.815625,0.584542,0.032594,0.589775,0.764350,0.650973,0.565705,0.691784,0.265223,0.739031,0.560394,0.334802,0.517694,0.646110
3,0.362748,0.495430,0.113876,0.594149,0.612522,0.625204,0.864050,0.260279,0.528873,0.168043,0.715929,0.677014,0.175735,0.632370,0.926715,0.085675,0.120525,0.141746,0.771144,0.489660
4,0.033415,0.340433,0.464971,0.363737,0.025815,0.434129,0.415163,0.892210,0.381701,0.415264,0.790801,0.696930,0.819751,0.944029,0.869965,0.041723,0.819140,0.676051,0.109349,0.872947

### 9. Use a list comprehension to select and print the column numbers for columns from the data set whose median is less than 0.48.

In [163]:
df_median = df.median()
print(df_median)

print('-----')

df_median_adj = df.median() < 0.48
print(df_median_adj)

0     0.518393
1     0.498298
2     0.476174
3     0.617797
4     0.544392
5     0.652570
6     0.589559
7     0.652583
8     0.484164
9     0.456142
10    0.529412
11    0.517590
12    0.450881
13    0.693514
14    0.432621
15    0.574287
16    0.527874
17    0.473843
18    0.537067
19    0.556300
dtype: float64
-----
0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12     True
13    False
14     True
15    False
16    False
17     True
18    False
19    False
dtype: bool

### 10. Use a list comprehension to add a new column (20) to the data frame whose values are the values in column 19 minus 0.1. Display the top 10 rows of the resulting data frame.

In [141]:
#1. Derive the values of column 20

df['20'] = df['19']-0.1
df['20']


#2. Slice the column 20, by showing the first top 10 rows

df[0:10]

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,0.276827,0.260054,0.942397,0.113187,0.781355,0.475740,0.152061,0.250324,0.147078,0.162984,...,0.509619,0.593212,0.911839,0.257645,0.386457,0.696932,0.069162,0.952291,0.286542,0.186542
1,0.995885,0.158381,0.244274,0.962163,0.651900,0.930665,0.577190,0.087914,0.960261,0.580840,...,0.661459,0.674085,0.049326,0.785803,0.315645,0.495355,0.232135,0.549324,0.572232,0.472232
2,0.641917,0.821055,0.392437,0.782617,0.510762,0.428320,0.017324,0.680720,0.340412,0.462513,...,0.251949,0.032847,0.995700,0.816563,0.735692,0.435998,0.430411,0.531757,0.489528,0.389528
3,0.806532,0.569258,0.148175,0.809987,0.459632,0.735762,0.730664,0.934502,0.080322,0.763502,...,0.027637,0.409665,0.942846,0.133256,0.157158,0.929446,0.402791,0.685976,0.246594,0.146594
4,0.311185,0.501165,0.365979,0.782807,0.776795,0.797199,0.791946,0.847157,0.771811,0.233944,...,0.053030,0.208551,0.824354,0.588567,0.604341,0.232964,0.229109,0.022881,0.479022,0.379022
0,0.734751,0.195362,0.734309,0.598184,0.763433,0.263434,0.868066,0.058092,0.753502,0.587513,...,0.178356,0.182922,0.147631,0.391188,0.816049,0.749068,0.293260,0.937828,0.880858,0.780858
1,0.772607,0.445391,0.249642,0.787922,0.598583,0.827238,0.624126,0.601524,0.688753,0.338870,...,0.471474,0.267443,0.453351,0.800716,0.045749,0.683793,0.389789,0.016787,0.503695,0.403695
2,0.226428,0.268764,0.694262,0.622335,0.063843,0.122683,0.815625,0.584542,0.032594,0.589775,...,0.650973,0.565705,0.691784,0.265223,0.739031,0.560394,0.334802,0.517694,0.646110,0.546110
3,0.362748,0.495430,0.113876,0.594149,0.612522,0.625204,0.864050,0.260279,0.528873,0.168043,...,0.677014,0.175735,0.632370,0.926715,0.085675,0.120525,0.141746,0.771144,0.489660,0.389660
4,0.033415,0.340433,0.464971,0.363737,0.025815,0.434129,0.415163,0.892210,0.381701,0.415264,...,0.696930,0.819751,0.944029,0.869965,0.041723,0.819140,0.676051,0.109349,0.872947,0.772947

### 11. Use a list comprehension to extract and print all values from the data set that are between 0.7 and 0.75.

In [157]:
#1. We generalize df.iloc[row,column], which is our variable, to print every value of the dataframe in a list
## -> my_list_df = [df.iloc[row, column] for row in range(df.shape[0]) for column in range (df.shape[1])]

#2. We add a condition in the list comprehension, that impacts our variable df.iloc[row,column], to print the values

my_list_df = [df.iloc[row, column] for row in range(df.shape[0]) for column in range (df.shape[1]) 
              if df.iloc[row, column]>= 0.7 and 
              df.iloc[row, column]<= 0.75]


print(my_list_df)

[0.7356923324968598, 0.7357618655811269, 0.7306642125209889, 0.7347510852128797, 0.7343092314001137, 0.7490680818183477, 0.7390312927111312, 0.7159290265157912, 0.7013619954419494, 0.7396561066717461, 0.7045750112959754, 0.7358941798147411, 0.736029494090402, 0.7085098152301276, 0.7472962776291713, 0.7329024831531535, 0.7124169515124726, 0.71223975981198, 0.7365416322783028, 0.7025657075988269, 0.7298115760258881, 0.7294980584878026, 0.7215147068185102, 0.7130781095091867, 0.7393833032570581, 0.7258310816144985, 0.7383982036983279, 0.7178166705957928, 0.7088042362916818, 0.737444918174949, 0.7264121114538001, 0.7133695725698419, 0.7476323136755818, 0.726854508853197, 0.7111584953876777, 0.7008930873050235, 0.7209375615129192, 0.7303553716733908, 0.7133690799930356, 0.7078738356977186, 0.7032248108904495, 0.7196096371031628, 0.7244863338885654, 0.7321533684342264, 0.7132714209987683, 0.7023481768180954, 0.7051334608870933, 0.7280006345208285, 0.7150799992177622, 0.7321333453970806, 0.7173964318670598]