# List Comprehensions Lab

Complete the following set of exercises to solidify your knowledge of list comprehensions.

In [1]:
print('hello')

hello

In [2]:
import os
import numpy as np
import pandas as pd

### 1. Use a list comprehension to create and print a list of consecutive integers starting with 1 and ending with 50.

In [3]:
[a for a in range(1,51)]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

### 2. Use a list comprehension to create and print a list of even numbers starting with 2 and ending with 200.

In [4]:
[a for a in range(1,201) if a%2 == 0]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200]

### 3. Use a list comprehension to create and print a list containing all elements of the 10 x 4 Numpy array below.

In [5]:
a = np.array([[0.84062117, 0.48006452, 0.7876326 , 0.77109654],
       [0.44409793, 0.09014516, 0.81835917, 0.87645456],
       [0.7066597 , 0.09610873, 0.41247947, 0.57433389],
       [0.29960807, 0.42315023, 0.34452557, 0.4751035 ],
       [0.17003563, 0.46843998, 0.92796258, 0.69814654],
       [0.41290051, 0.19561071, 0.16284783, 0.97016248],
       [0.71725408, 0.87702738, 0.31244595, 0.76615487],
       [0.20754036, 0.57871812, 0.07214068, 0.40356048],
       [0.12149553, 0.53222417, 0.9976855 , 0.12536346],
       [0.80930099, 0.50962849, 0.94555126, 0.33364763]])

In [6]:
[element for sublist in a for element in sublist]

[0.84062117,
 0.48006452,
 0.7876326,
 0.77109654,
 0.44409793,
 0.09014516,
 0.81835917,
 0.87645456,
 0.7066597,
 0.09610873,
 0.41247947,
 0.57433389,
 0.29960807,
 0.42315023,
 0.34452557,
 0.4751035,
 0.17003563,
 0.46843998,
 0.92796258,
 0.69814654,
 0.41290051,
 0.19561071,
 0.16284783,
 0.97016248,
 0.71725408,
 0.87702738,
 0.31244595,
 0.76615487,
 0.20754036,
 0.57871812,
 0.07214068,
 0.40356048,
 0.12149553,
 0.53222417,
 0.9976855,
 0.12536346,
 0.80930099,
 0.50962849,
 0.94555126,
 0.33364763]

### 4. Add a condition to the list comprehension above so that only values greater than or equal to 0.5 are printed.

In [7]:
[element for sublist in a for element in sublist if element >= 0.5]

[0.84062117,
 0.7876326,
 0.77109654,
 0.81835917,
 0.87645456,
 0.7066597,
 0.57433389,
 0.92796258,
 0.69814654,
 0.97016248,
 0.71725408,
 0.87702738,
 0.76615487,
 0.57871812,
 0.53222417,
 0.9976855,
 0.80930099,
 0.50962849,
 0.94555126]

### 5. Use a list comprehension to create and print a list containing all elements of the 5 x 2 x 3 Numpy array below.

In [8]:
b = np.array([[[0.55867166, 0.06210792, 0.08147297],
        [0.82579068, 0.91512478, 0.06833034]],

       [[0.05440634, 0.65857693, 0.30296619],
        [0.06769833, 0.96031863, 0.51293743]],

       [[0.09143215, 0.71893382, 0.45850679],
        [0.58256464, 0.59005654, 0.56266457]],

       [[0.71600294, 0.87392666, 0.11434044],
        [0.8694668 , 0.65669313, 0.10708681]],

       [[0.07529684, 0.46470767, 0.47984544],
        [0.65368638, 0.14901286, 0.23760688]]])

In [9]:
[element for sublist in b for subsublist in sublist for element in subsublist]

[0.55867166,
 0.06210792,
 0.08147297,
 0.82579068,
 0.91512478,
 0.06833034,
 0.05440634,
 0.65857693,
 0.30296619,
 0.06769833,
 0.96031863,
 0.51293743,
 0.09143215,
 0.71893382,
 0.45850679,
 0.58256464,
 0.59005654,
 0.56266457,
 0.71600294,
 0.87392666,
 0.11434044,
 0.8694668,
 0.65669313,
 0.10708681,
 0.07529684,
 0.46470767,
 0.47984544,
 0.65368638,
 0.14901286,
 0.23760688]

### 6. Add a condition to the list comprehension above so that the last value in each subarray is printed, but only if it is less than or equal to 0.5.

In [10]:
[element for sublist in b for subsublist in sublist for element in [subsublist[-1]] if element <= 0.5]

[0.08147297,
 0.06833034,
 0.30296619,
 0.45850679,
 0.11434044,
 0.10708681,
 0.47984544,
 0.23760688]

### 7. Use a list comprehension to select and print the names of all CSV files in the */data* directory.

In [15]:
dirname = '/Users/ceciliamezzera/Documents/EDUCATION/IRONHACK/Classes/Week1/Labs/lab-list-comprehensions/data'
[filename for filename in os.listdir(dirname)]

['sample_file_8.txt',
 'sample_file_9.txt',
 'sample_file_1.csv',
 'sample_file_0.csv',
 'sample_file_2.csv',
 'sample_file_3.csv',
 'sample_file_7.csv',
 'sample_file_6.csv',
 'sample_file_4.csv',
 'sample_file_5.csv',
 'sample_file_8.csv',
 'sample_file_9.csv',
 'sample_file_2.txt',
 'sample_file_3.txt',
 'sample_file_1.txt',
 'sample_file_0.txt',
 'sample_file_4.txt',
 'sample_file_5.txt',
 'sample_file_7.txt',
 'sample_file_6.txt']

### 8. Use a list comprehension and the Pandas `read_csv` and `concat` methods to read all CSV files in the */data* directory and combine them into a single data frame. Display the top 10 rows of the resulting data frame.

In [16]:
# [pd.read_csv(os.path.join(dirname, filename)) for filename in os.listdir(dirname)]
df_all = pd.concat([pd.read_csv(os.path.join(dirname, filename)) 
                    for filename in os.listdir(dirname)]
                  )
df_all.head(n=10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.132453,0.106635,0.673568,0.507253,0.162925,0.130042,0.980388,0.623167,0.074066,0.111557,0.864664,0.093637,0.446974,0.022525,0.713369,0.707874,0.563506,0.982256,0.562498,0.968681
1,0.384938,0.767604,0.850528,0.605998,0.826172,0.667488,0.142045,0.086904,0.912348,0.892183,0.426389,0.776552,0.429496,0.602056,0.283769,0.166793,0.316878,0.688337,0.169525,0.966198
2,0.318691,0.675720,0.807189,0.752518,0.531342,0.703225,0.598293,0.921508,0.563333,0.184300,0.667625,0.270017,0.573440,0.163669,0.032852,0.689315,0.973684,0.719610,0.163670,0.724486
3,0.538593,0.291241,0.407187,0.613260,0.851424,0.962086,0.590512,0.980700,0.159022,0.684265,0.898633,0.470113,0.756593,0.282408,0.551369,0.732153,0.494100,0.792803,0.794426,0.837695
4,0.713271,0.156210,0.392800,0.702348,0.009400,0.030304,0.960066,0.688937,0.260252,0.634608,0.273775,0.264145,0.682941,0.908499,0.450950,0.200761,0.968324,0.221165,0.891382,0.398914
0,0.215190,0.155352,0.160848,0.807736,0.363587,0.899832,0.146754,0.094802,0.705133,0.882762,0.773320,0.687745,0.016789,0.340725,0.984182,0.985461,0.412044,0.867894,0.113432,0.349845
1,0.895544,0.955196,0.089925,0.827555,0.089071,0.642883,0.996052,0.879020,0.421837,0.412141,0.858513,0.217091,0.176157,0.551236,0.834378,0.419535,0.041431,0.602258,0.984628,0.516899
2,0.413752,0.693052,0.789796,0.929164,0.536191,0.439769,0.773474,0.982074,0.876955,0.633154,0.279005,0.483317,0.908288,0.756172,0.462130,0.289892,0.145233,0.076819,0.797836,0.197592
3,0.728001,0.348156,0.935787,0.851163,0.444573,0.715080,0.988408,0.210332,0.732133,0.892383,0.216893,0.367595,0.846208,0.240111,0.471880,0.399721,0.758196,0.665568,0.931542,0.448124
4,0.134942,0.875931,0.273505,0.207588,0.080696,0.717396,0.033930,0.646837,0.888722,0.922742,0.176593,0.861333,0.389451,0.695244,0.129955,0.364114,0.428224,0.365442,0.847818,0.588319

### 9. Use a list comprehension to select and print the column numbers for columns from the data set whose median is less than 0.48.

In [17]:
[column for column in df_all.columns if np.median(df_all[column]) < 0.48]

['2', '9', '12', '14', '17']

### 10. Use a list comprehension to add a new column (20) to the data frame whose values are the values in column 19 minus 0.1. Display the top 10 rows of the resulting data frame.

In [18]:
new_values = [(df_all['19'].values[i] - 0.1) for i in range(len(df_all))]
df_all['20'] = new_values
df_all.head(n=10)

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,0.132453,0.106635,0.673568,0.507253,0.162925,0.130042,0.980388,0.623167,0.074066,0.111557,...,0.093637,0.446974,0.022525,0.713369,0.707874,0.563506,0.982256,0.562498,0.968681,0.868681
1,0.384938,0.767604,0.850528,0.605998,0.826172,0.667488,0.142045,0.086904,0.912348,0.892183,...,0.776552,0.429496,0.602056,0.283769,0.166793,0.316878,0.688337,0.169525,0.966198,0.866198
2,0.318691,0.675720,0.807189,0.752518,0.531342,0.703225,0.598293,0.921508,0.563333,0.184300,...,0.270017,0.573440,0.163669,0.032852,0.689315,0.973684,0.719610,0.163670,0.724486,0.624486
3,0.538593,0.291241,0.407187,0.613260,0.851424,0.962086,0.590512,0.980700,0.159022,0.684265,...,0.470113,0.756593,0.282408,0.551369,0.732153,0.494100,0.792803,0.794426,0.837695,0.737695
4,0.713271,0.156210,0.392800,0.702348,0.009400,0.030304,0.960066,0.688937,0.260252,0.634608,...,0.264145,0.682941,0.908499,0.450950,0.200761,0.968324,0.221165,0.891382,0.398914,0.298914
0,0.215190,0.155352,0.160848,0.807736,0.363587,0.899832,0.146754,0.094802,0.705133,0.882762,...,0.687745,0.016789,0.340725,0.984182,0.985461,0.412044,0.867894,0.113432,0.349845,0.249845
1,0.895544,0.955196,0.089925,0.827555,0.089071,0.642883,0.996052,0.879020,0.421837,0.412141,...,0.217091,0.176157,0.551236,0.834378,0.419535,0.041431,0.602258,0.984628,0.516899,0.416899
2,0.413752,0.693052,0.789796,0.929164,0.536191,0.439769,0.773474,0.982074,0.876955,0.633154,...,0.483317,0.908288,0.756172,0.462130,0.289892,0.145233,0.076819,0.797836,0.197592,0.097592
3,0.728001,0.348156,0.935787,0.851163,0.444573,0.715080,0.988408,0.210332,0.732133,0.892383,...,0.367595,0.846208,0.240111,0.471880,0.399721,0.758196,0.665568,0.931542,0.448124,0.348124
4,0.134942,0.875931,0.273505,0.207588,0.080696,0.717396,0.033930,0.646837,0.888722,0.922742,...,0.861333,0.389451,0.695244,0.129955,0.364114,0.428224,0.365442,0.847818,0.588319,0.488319

### 11. Use a list comprehension to extract and print all values from the data set that are between 0.7 and 0.75.

In [110]:
[value for x in df_all.values for value in x if (value > 0.7) & (value < 0.75)]

[0.7133690799930356,
 0.7078738356977186,
 0.7032248108904495,
 0.7196096371031628,
 0.7244863338885654,
 0.7321533684342264,
 0.7376946446827494,
 0.7132714209987683,
 0.7023481768180954,
 0.7051334608870933,
 0.7280006345208285,
 0.7150799992177622,
 0.7321333453970806,
 0.7173964318670598,
 0.7356923324968598,
 0.7357618655811269,
 0.7306642125209889,
 0.7347510852128797,
 0.7343092314001137,
 0.7490680818183477,
 0.7390312927111312,
 0.7159290265157912,
 0.7033930409580709,
 0.7013619954419494,
 0.7396561066717461,
 0.7045750112959754,
 0.7358941798147411,
 0.736029494090402,
 0.7085098152301276,
 0.7472962776291713,
 0.7329024831531535,
 0.7124169515124726,
 0.71223975981198,
 0.7365416322783028,
 0.7025657075988269,
 0.7298115760258881,
 0.7294980584878026,
 0.7215147068185102,
 0.7130781095091867,
 0.7393833032570581,
 0.7258310816144985,
 0.7383982036983279,
 0.7178166705957928,
 0.7088042362916818,
 0.737444918174949,
 0.7264121114538001,
 0.7133695725698419,
 0.7476323136755818,
 0.726854508853197,
 0.7111584953876777,
 0.7008930873050235,
 0.7209375615129192,
 0.7303553716733908,
 0.7274869207330491,
 0.7133690799930356,
 0.7078738356977186,
 0.7032248108904495,
 0.7196096371031628,
 0.7244863338885654,
 0.7321533684342264,
 0.7376946446827494,
 0.7132714209987683,
 0.7023481768180954,
 0.7051334608870933,
 0.7280006345208285,
 0.7150799992177622,
 0.7321333453970806,
 0.7173964318670598,
 0.7033930409580709,
 0.7013619954419494,
 0.7396561066717461,
 0.7045750112959754,
 0.7356923324968598,
 0.7357618655811269,
 0.7306642125209889,
 0.7347510852128797,
 0.7343092314001137,
 0.7490680818183477,
 0.7390312927111312,
 0.7159290265157912,
 0.7383982036983279,
 0.7178166705957928,
 0.7088042362916818,
 0.737444918174949,
 0.7264121114538001,
 0.7133695725698419,
 0.7476323136755818,
 0.726854508853197,
 0.7111584953876777,
 0.7008930873050235,
 0.7209375615129192,
 0.7303553716733908,
 0.7274869207330491,
 0.7358941798147411,
 0.736029494090402,
 0.7085098152301276,
 0.7472962776291713,
 0.7329024831531535,
 0.7124169515124726,
 0.71223975981198,
 0.7365416322783028,
 0.7025657075988269,
 0.7298115760258881,
 0.7294980584878026,
 0.7215147068185102,
 0.7130781095091867,
 0.7393833032570581,
 0.7258310816144985]

In [35]:
# print('bye bye :)')